.footer{
    background-color: #000;
}

.footer-container{
    max-width: 1200px;
    padding: 120px 60px 60px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    align-items: center;
}

.footer-container .subtitulo{
    background-image: linear-gradient(to bottom, #961717, #ee5d5d);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}

.footer-texto{
    font-size: 1.3rem;
    line-height: 1.33;
    color: #ccc;
}

.lista-contatos{
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 0px;
}

.lista-contatos img{
    width: 20px;
    margin-right: 5px;
}

.lista-contatos a{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #961717;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
    background-image: linear-gradient(to bottom, #000000, #961717);
    color: white;
    width: 120px;
}

.lista-contatos a:hover{
    background-image: linear-gradient(to bottom, #5f0404, #f10303);
    color: white;
}

.footer-copy{
    font-size: 1rem;
    color: #8f8f8f;
    text-align: center;
}

@media (max-width: 500px){
    .footer-texto{
        font-size: 1rem;
    }

    .lista-contatos{
        flex-direction: column;
        align-content: center;
    }

    .lista-contatos a{
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border: 1px solid #961717;
        border-radius: 4px;
        text-decoration: none;
        font-size: 1rem;
        background-image: linear-gradient(to bottom, #000000, #961717);
        background-clip: text;
        color: white;
        width: 200px;
    }
}