.introducao {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
}

.introducao h1{
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    position: relative;
    background-image: linear-gradient(to bottom, #000000, #961717);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.introducao h1::before{
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url('../img/detalhe.svg') no-repeat center;
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1;
    opacity: 0.4;
}

.introducao p {
    font-size: 1.5rem;
    color: #525252;
}

.lista-redes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.lista-redes img{
    width: 20px;
    margin-right: 5px;
}

.lista-redes a{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 2px solid #961717;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
    background-image: linear-gradient(to bottom, #000000, #961717);
    background-clip: text;
    color: white;
}


@media (max-width: 1000px){
    .introducao h1 {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .introducao h1 {
        font-size: 2rem;
    }

    .introducao h1::before{
        width: 30px;
        height: 10px;
        left: 0px;
    }

    .introducao{
        grid-template-columns: 1fr 1fr;
        gap:40px
    }
}

@media (max-width: 400px) {
    .introducao{
        grid-template-columns: 1fr;
    }

    .introducao img{
        display: none;
    }
}